* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: "Anton", sans-serif;

  /* border: 1px solid black; */
}

header {
  text-align: center;
}

img {
  height: 60px;
}

#nav-bar {
  margin-bottom: 2rem;
  padding: 0.8rem;
  border-bottom: 1px solid grey;

  display: flex;
  align-items: center;
}

#nav-logo {
  flex-grow: 1;
}

#nav-bar ul {
  display: flex;
  align-items: center;
}

#nav-bar .nav {
  list-style-type: none;
  margin: 0.5rem;
}

/* Intro Content */
#intro {
  padding: 5rem 10%;
  text-align: center;
}

#intro p {
  margin-bottom: 1rem;
  text-align: left;
}

#intro button {
  color: white;
  font-weight: bold;
  background-color: #087830;
  border-radius: 10px;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  text-align: center;
  margin: 0.5rem 0px;
  cursor: pointer;
}

#intro button:hover {
  background-color: yellowgreen;
}

#intro button:active {
  transform: translateY(1px);
}

#core-values {
  display: flex;
  padding: 5rem 10% 4rem 10%;
}

#core-values section {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#core-values section h3 {
  margin-bottom: 1rem;
}

#core-values section p {
  text-align: justify;
}

/* pre-footer */
#pre-footer {
  background-color: #087830;
  color: white;

  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

#pre-footer > article > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
}

footer span {
  margin: 0 0.5rem;
}

/* If the browser window is 425px or smaller, these rules will be applied */
@media only screen and (max-width: 425px) {
  #nav-bar {
    display: block;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  .nav {
    font-size: 10px;
  }

  #core-values {
    display: block;
    padding: 1rem 10% 1rem 10%;
  }

  #core-values > section {
    margin: 10px 0px;
  }

  #pre-footer {
    display: block;
    text-align: center;
  }

  #pre-footer article {
    margin: 1rem 0;
  }

  footer {
    font-size: 10px;
  }
}
